<%= render "shared/page_title", title: @project.name %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Tasks: </strong></h4>
  <hr />
  <div class="pull-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
       	<%= link_to gravatar_for(@project.user), user_path(@project.user) %>
    </p>
    <p class="center">
      <small>
        <% if @project.user.firstname && @project.user.lastname %>
          <%= @project.user.firstname.capitalize %> <%= @project.user.lastname.capitalize %></small>
        <% end %>
      <div class="pull-right"><%= time_ago_in_words(@project.created_at) %> ago</div>
    </p>
  </div>
  <% if @project.bugs.any? %>
    <p><%= render @project.bugs %></p>
  <% else %>
    <small>No bug or feature for this project!</small>
  <% end %>
  <div class="project-actions">
    <% if logged_in? && (current_user == @project.user) %>
      <%= link_to "Add a task", new_project_bug_path(@project), class: "btn btn-xs btn-warning" %>
      <%= link_to "Edit this project", edit_project_path(@project), class: "btn btn-xs btn-warning" %>
      <%= link_to "Delete this project", project_path(@project), method: :delete, 
                  data: { confirm: "Are you sure you want to delete this project?"},
                  class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "Return to projects listing", projects_path, class: "btn btn-xs btn-primary" %>
  </div>
</div>